.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to 'Ferrotec集团网站后台管理', manager_index_path, :class=>'brand'
      %ul.nav
        %li.active
          = link_to '首页', manager_index_path
        %li
          = link_to 'Link', '#'
        %li
          = link_to 'Link', '#'

