/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/reset";

* {
  padding:0px;
  margin:0px;
}

li {
  list-style-type:none;
}
/*
 * 全局设置
 */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  a {
    color:#000;
    text-decoration:none;
    &:hover {
      color:#FF0000;
    }
  }
}


#container{
  width: 780px;
  margin: 0 auto;

  #header{
    /*
     * logo的处理,将文字转为图片
     */
    #header-logo{
      h1 a {
        width: 188px;
        height:60px;
        display:block;
        text-indent:-999px; /*把文字放下最下面*/
        background:image-url('logo.jpg');
        float:left;
      }
    }
    padding-top:10px;
    position:relative; /*定下当前的位置*/
    #header-info{
      float:right;
      #sub-nav{
        li {
          display: inline;
          padding: 0 6px 0 5px;
          border-right: 1px solid black;
          &.last {
            border:none;
            padding-right:0px;
          }
        }
      }
      #site-search {
        padding-top:10px;
        position:absolute; /*以父DIV为绝对位置*/
        right:0px;         /*右对齐*/

        input{
          line-height:20px;
          height:20px;
          padding: 0 8px;
          margin:  0 0 0 8px;
          border-radius:4px;
          border:1px #999999 solid;

          #search {
            border: 1px solid #3B6F9F;
          }
        }
      }
    }
  } // end of header

  #menu {
    margin-top:-3px;  /*不知为何，flash与菜单总是有点空隙，所以上提一下。怀疑是flash的问题*/
    background:image-url('menubackground.jpg');
    height:25px;
    padding-left:25px;
    .sf-menu {
      line-height:25px;
      li {
        float:left;
        position:relative;
        &:hover, &.hover{ /* 这里是当hover时，显示下级菜单，这里只显示一级下拉菜单 */
          visibility: inherit; /* fix IE7 'sticky bug' */
          ul {
            left: 0;
            top:25px;     /* 因为主元素高25px */
            z-index:99;   /* 带到最前面显示 */
          }
        }
        ul { /* 没有hover时，将菜单移到看不见的地方去 */
          position: absolute;
          top:-999px;
          width:100px;
          li { /* 这里是菜单的显示设置 */
            background:#FFF;
            border: 1px solid black;
            a {
              color:#000;
              &:hover{
                color:red;
                background:#999;
              }
            }
          }
        }
        a {
          color:#FFF;
          display:block;      /* 让本元素填充整个空间 */
/*          position:relative; */
          padding: 0px 36px;
        }
      }
    }
  }

  /*
   * 主要内容区
   */
  #content {
    padding-top:10px;
    h2{
      color:#3B6F9F;
      font-size:14px;
      font-weight:bold;
      line-height:35px;
    }
    .news{
      float:left;
      width:400px;
      border-right:1px solid #CCC;
      ul li{
        width:380px;
        border-bottom: 1px solid #CCC;
        a {
          color:#3B6F9F;
          line-height:26px;
          &:hover{
            color:red;
          }
        }
      }
      li.more {
        border:none;
        a {
          float:right;
        }
      }
    }
    .groups{
      float:left;
      width:140px;
      padding-left:10px;
      li{
        color:#3B6F9F;
        margin-left:10px;
        list-style-type:disc;
        line-height:28px;
        a {
          color:#3B6F9F;
          &:hover{
            color:red;
          }
        }
      }
    }
    .other{
      float:right;
      .tech li{
        line-height:18px;
        a {
          color:#3B6F9F;
          &:hover{
            color:red;
          }
        }
      }
    }
  } /* end of content*/

  #friend-link{
    clear:both;
    padding:10px 10px 5px;
    text-align:center;
    li {
      display:inline;
    }
  }
  #footer{
    clear:both;
    padding:5px 10px;
    p{
      text-align:center;
      a {
        margin-left:20px;
      }
    }
  }
}
